<!DOCTYPE html>
<html>
<head>
    <title>Список оборудования</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список оборудования</h1>
    <p><a href="/createe">Добавить оборудование</a></p>
    <table>
        <tr><th>Название</th><th>Статус</th></tr>
        {{#each equipments}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.status}}</td>
                <td>
                    <a href="/edite/{{this.id}}">Редактировать</a>|
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>