<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление пользователя</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Email</label><br>
        <input name="email"  class="field"/><br><br>
        <label>Номер телефона</label><br>
        <input name="phonenumber" type="number" class="field"/><br><br>
        <label>Должность</label><br>
        <input name="position" class="field" /><br><br>
        <label>Логин</label><br>
        <input name="login" class="field"/><br><br>
        <label>Пароль</label><br>
        <input name="password" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
    <a href="/admin">К Админ-Панели</a>
</body>
<html>