<!DOCTYPE html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование пользователя</h1>
     <form action="/editw" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Email</label><br>
        <input name="email"  class="field"/><br><br>
        <label>Номер телефона</label><br>
        <input name="phonenumber" type="number" class="field"/><br><br>
        <label>Должность</label><br>
        <input name="position" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/admin">К Админ-Панели</a>
</body>
<html>