div(class='footer')
    div(class='container')
        div(class='row')
            div(class='col col-lg-12') Just Coffee. All rights reserved. 2019. iK.
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
script(src='js/nav.js')
script(src='js/cart.js')