h1 Admin-panel

ul
 li
  a(href="/admin-orders") Заказы
 li
  a(href="/admin-goods") Товары
 li
  a(href="/admin-clients") Клиенты
 li
  a(href="/admin-workers") Работники
 li
  a(href="/admin-branches") Филиалы
 li
  a(href="/admin-equipments") Оборудование