<!DOCTYPE html>
<html>
<head>
    <title>Добавление товара</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление товара</h1>
     <form method="POST">
        <label>Название</label><br>
        <input name="name" class="field"/><br><br>
        <label>Описание</label><br>
        <input name="meaning"  class="field"/><br><br>
        <label>Название изображения</label><br>
        <input name="image" class="field"/><br><br>
        <label>Стоимость</label><br>
        <input name="cost" type="number" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/admin">К Админ-Панели</a>
</body>
<html>