<!DOCTYPE html>
<html>
<head>
    <title>Редактирование оборудования</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование оборудования</h1>
     <form action="/editw" method="POST">
        <label>Название</label><br>
        <input name="name" class="field"/><br><br>
        <label>Address</label><br>
        <input name="address"  class="field"/><br><br>
        <label>id Менеджера</label><br>
        <input name="managerid" type="number" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/admin">К Админ-Панели</a>
</body>
<html>