<!DOCTYPE html>
<html>
<head>
    <title>Редактирование клиента</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование клиента</h1>
     <form action="/editw" method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Email</label><br>
        <input name="email"  class="field"/><br><br>
        <label>Номер телефона</label><br>
        <input name="phonenumber" type="number" class="field"/><br><br>
        <label>Номер карты</label><br>
        <input name="cardnumber" type="number" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/admin">К Админ-Панели</a>
</body>
<html>